{% extends 'base.html' %}

{% block content %}

{% include 'navbar.html' %}

<br>
<br>
<br>
<div class="flex justify-center">
    <div class="rounded-lg shadow-lg bg-white max-w-sm">
        <a href="#!" data-mdb-ripple="true" data-mdb-ripple-color="light">
            <img class="rounded-t-lg" src="https://mdbootstrap.com/img/new/standard/nature/182.jpg" alt="" />
        </a>
        <div class="p-6">
            <h5 class="text-gray-900 text-xl font-medium mb-2">Crop Recommendation</h5>
            <p class="text-gray-700 text-base mb-4">
                Get a crop recommendation based on your soil type and climate.
            </p>
            <button type="button"
                class=" inline-block px-6 py-2.5 bg-blue-600 text-white font-medium text-xs leading-tight uppercase rounded shadow-md hover:bg-blue-700 hover:shadow-lg focus:bg-blue-700 focus:shadow-lg focus:outline-none focus:ring-0 active:bg-blue-800 active:shadow-lg transition duration-150 ease-in-out inline-block px-6 py-2.5 bg-blue-600 text-white font-medium text-xs leading-tight uppercase rounded shadow-md hover:bg-blue-700 hover:shadow-lg focus:bg-blue-700 focus:shadow-lg focus:outline-none focus:ring-0 active:bg-blue-800 active:shadow-lg transition duration-150 ease-in-out"
                data-bs-toggle="modal" data-bs-target="#exampleModalCenteredScrollable">Button</button>


        </div>
    </div>
</div>

<div class="flex justify-center">
    <div class="rounded-lg shadow-lg bg-white max-w-sm">
        <a href="#!" data-mdb-ripple="true" data-mdb-ripple-color="light">
            <img class="rounded-t-lg" src="https://mdbootstrap.com/img/new/standard/nature/182.jpg" alt="" />
        </a>
        <div class="p-6">
            <h5 class="text-gray-900 text-xl font-medium mb-2">Fertilizer Recommendation</h5>
            <p class="text-gray-700 text-base mb-4">
                Get a fertilizer recommendation based on your soil type and climate.
            </p>
            <button type="button"
                class=" inline-block px-6 py-2.5 bg-blue-600 text-white font-medium text-xs leading-tight uppercase rounded shadow-md hover:bg-blue-700 hover:shadow-lg focus:bg-blue-700 focus:shadow-lg focus:outline-none focus:ring-0 active:bg-blue-800 active:shadow-lg transition duration-150 ease-in-out inline-block px-6 py-2.5 bg-blue-600 text-white font-medium text-xs leading-tight uppercase rounded shadow-md hover:bg-blue-700 hover:shadow-lg focus:bg-blue-700 focus:shadow-lg focus:outline-none focus:ring-0 active:bg-blue-800 active:shadow-lg transition duration-150 ease-in-out"
                data-bs-toggle="modal" data-bs-target="#exampleModalCenteredScrollableCrop">Button</button>
        </div>
    </div>
</div>

<div class="flex justify-center">
    <div class="rounded-lg shadow-lg bg-white max-w-sm">
        <a href="#!" data-mdb-ripple="true" data-mdb-ripple-color="light">
            <img class="rounded-t-lg" src="https://mdbootstrap.com/img/new/standard/nature/182.jpg" alt="" />
        </a>
        <div class="p-6">
            <h5 class="text-gray-900 text-xl font-medium mb-2">RainFall Prediction</h5>
            <p class="text-gray-700 text-base mb-4">
                Some quick example text to build on the card title and make up the bulk of the card's
                content.
            </p>
            <button type="button"
                class=" inline-block px-6 py-2.5 bg-blue-600 text-white font-medium text-xs leading-tight uppercase rounded shadow-md hover:bg-blue-700 hover:shadow-lg focus:bg-blue-700 focus:shadow-lg focus:outline-none focus:ring-0 active:bg-blue-800 active:shadow-lg transition duration-150 ease-in-out inline-block px-6 py-2.5 bg-blue-600 text-white font-medium text-xs leading-tight uppercase rounded shadow-md hover:bg-blue-700 hover:shadow-lg focus:bg-blue-700 focus:shadow-lg focus:outline-none focus:ring-0 active:bg-blue-800 active:shadow-lg transition duration-150 ease-in-out"
                data-bs-toggle="modal" data-bs-target="#exampleModalCenteredScrollableRainFall">Button</button>

        </div>
    </div>
</div>



<!-- Modal for crop recommendation  -->
<div class="modal fade fixed top-0 left-0 hidden w-full h-full outline-none overflow-x-hidden overflow-y-auto"
    id="exampleModalCenteredScrollable" tabindex="-1" aria-labelledby="exampleModalCenteredScrollable" aria-modal="true"
    role="dialog">
    <div class="modal-dialog modal-dialog-centered modal-dialog-scrollable relative w-auto pointer-events-none">
        <div
            class="modal-content border-none shadow-lg relative flex flex-col w-full pointer-events-auto bg-white bg-clip-padding rounded-md outline-none text-current">
            <div
                class="modal-header flex flex-shrink-0 items-center justify-between p-4 border-b border-gray-200 rounded-t-md">
                <h5 class="text-xl font-medium leading-normal text-gray-800" id="exampleModalCenteredScrollableLabel">
                    Crop Recommendation
                </h5>
                <button type="button"
                    class="btn-close box-content w-4 h-4 p-1 text-black border-none rounded-none opacity-50 focus:shadow-none focus:outline-none focus:opacity-100 hover:text-black hover:opacity-75 hover:no-underline"
                    data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body relative p-4">
                <!--input fields N,P,K,temperature,humidity,ph,rainfall,label-->

                <div class="flex flex-col">
                    <div class="flex flex-row">
                        <div class="flex flex-col">
                            <label class="text-gray-700 text-base mb-4">Nitrogen</label>
                            <input type="text"
                                class="border-2 border-gray-300 bg-white h-10 px-5 pr-16 rounded-lg text-sm focus:outline-none"
                                placeholder="Nitrogen" />

                        </div>


                    </div>
                </div>
                <div class="flex flex-col">
                    <div class="flex flex-row">
                        <div class="flex flex-col">
                            <label class="text-gray-700 text-base mb-4">Phosporus</label>
                            <input type="text"
                                class="border-2 border-gray-300 bg-white h-10 px-5 pr-16 rounded-lg text-sm focus:outline-none"
                                placeholder="Nitrogen" />

                        </div>


                    </div>
                </div>
                <div class="flex flex-col">
                    <div class="flex flex-row">
                        <div class="flex flex-col">
                            <label class="text-gray-700 text-base mb-4">Potassium</label>
                            <input type="text"
                                class="border-2 border-gray-300 bg-white h-10 px-5 pr-16 rounded-lg text-sm focus:outline-none"
                                placeholder="Nitrogen" />

                        </div>


                    </div>
                </div>
                <div class="flex flex-col">
                    <div class="flex flex-row">
                        <div class="flex flex-col">
                            <label class="text-gray-700 text-base mb-4">Temperature</label>
                            <input type="text"
                                class="border-2 border-gray-300 bg-white h-10 px-5 pr-16 rounded-lg text-sm focus:outline-none"
                                placeholder="Nitrogen" />

                        </div>


                    </div>
                </div>
                <div class="flex flex-col">
                    <div class="flex flex-row">
                        <div class="flex flex-col">
                            <label class="text-gray-700 text-base mb-4">humidity</label>
                            <input type="text"
                                class="border-2 border-gray-300 bg-white h-10 px-5 pr-16 rounded-lg text-sm focus:outline-none"
                                placeholder="Nitrogen" />

                        </div>


                    </div>
                </div>
                <div class="flex flex-col">
                    <div class="flex flex-row">
                        <div class="flex flex-col">
                            <label class="text-gray-700 text-base mb-4">Ph</label>
                            <input type="text"
                                class="border-2 border-gray-300 bg-white h-10 px-5 pr-16 rounded-lg text-sm focus:outline-none"
                                placeholder="Nitrogen" />

                        </div>


                    </div>
                </div>


                <div class="flex flex-col">
                    <div class="flex flex-row">
                        <div class="flex flex-col">
                            <label class="text-gray-700 text-base mb-4">rainfall</label>
                            <input type="text"
                                class="border-2 border-gray-300 bg-white h-10 px-5 pr-16 rounded-lg text-sm focus:outline-none"
                                placeholder="Nitrogen" />

                        </div>


                    </div>
                </div>
                <p>Just like that.</p>
            </div>
            <div
                class="modal-footer flex flex-shrink-0 flex-wrap items-center justify-end p-4 border-t border-gray-200 rounded-b-md">
                <button type="button"
                    class="inline-block px-6 py-2.5 bg-purple-600 text-white font-medium text-xs leading-tight uppercase rounded shadow-md hover:bg-purple-700 hover:shadow-lg focus:bg-purple-700 focus:shadow-lg focus:outline-none focus:ring-0 active:bg-purple-800 active:shadow-lg transition duration-150 ease-in-out"
                    data-bs-dismiss="modal">
                    Close
                </button>
                <button type="button"
                    class="inline-block px-6 py-2.5 bg-blue-600 text-white font-medium text-xs leading-tight uppercase rounded shadow-md hover:bg-blue-700 hover:shadow-lg focus:bg-blue-700 focus:shadow-lg focus:outline-none focus:ring-0 active:bg-blue-800 active:shadow-lg transition duration-150 ease-in-out ml-1">
                    Save changes
                </button>
            </div>
        </div>
    </div>
</div>

<!-- Modal for Fertilizer prediction -->
<!-- Temparature,Humidity ,Moisture,Soil Type,Crop Type,Nitrogen,Potassium,Phosphorous,Fertilizer Name -->
<div class="modal fade fixed top-0 left-0 hidden w-full h-full outline-none overflow-x-hidden overflow-y-auto"
    id="exampleModalCenteredScrollableCrop" tabindex="-1" aria-labelledby="exampleModalCenteredScrollable"
    aria-modal="true" role="dialog">
    <div class="modal-dialog modal-dialog-centered modal-dialog-scrollable relative w-auto pointer-events-none">
        <div
            class="modal-content border-none shadow-lg relative flex flex-col w-full pointer-events-auto bg-white bg-clip-padding rounded-md outline-none text-current">
            <div
                class="modal-header flex flex-shrink-0 items-center justify-between p-4 border-b border-gray-200 rounded-t-md">
                <h5 class="text-xl font-medium leading-normal text-gray-800" id="exampleModalCenteredScrollableLabel">
                    Fertilizer Recommender
                </h5>
                <button type="button"
                    class="btn-close box-content w-4 h-4 p-1 text-black border-none rounded-none opacity-50 focus:shadow-none focus:outline-none focus:opacity-100 hover:text-black hover:opacity-75 hover:no-underline"
                    data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body relative p-4">
                <!--input fields N,P,K,temperature,humidity,ph,rainfall,label-->

                <div class="flex flex-col">
                    <div class="flex flex-row">
                        <div class="flex flex-col">
                            <label class="text-gray-700 text-base mb-4">Nitrogen</label>
                            <input type="text"
                                class="border-2 border-gray-300 bg-white h-10 px-5 pr-16 rounded-lg text-sm focus:outline-none"
                                placeholder="Nitrogen" />

                        </div>


                    </div>
                </div>
                <div class="flex flex-col">
                    <div class="flex flex-row">
                        <div class="flex flex-col">
                            <label class="text-gray-700 text-base mb-4">Phosporus</label>
                            <input type="text"
                                class="border-2 border-gray-300 bg-white h-10 px-5 pr-16 rounded-lg text-sm focus:outline-none"
                                placeholder="Nitrogen" />

                        </div>


                    </div>
                </div>
                <div class="flex flex-col">
                    <div class="flex flex-row">
                        <div class="flex flex-col">
                            <label class="text-gray-700 text-base mb-4">Potassium</label>
                            <input type="text"
                                class="border-2 border-gray-300 bg-white h-10 px-5 pr-16 rounded-lg text-sm focus:outline-none"
                                placeholder="Nitrogen" />

                        </div>


                    </div>
                </div>
                <div class="flex flex-col">
                    <div class="flex flex-row">
                        <div class="flex flex-col">
                            <label class="text-gray-700 text-base mb-4">Temperature</label>
                            <input type="text"
                                class="border-2 border-gray-300 bg-white h-10 px-5 pr-16 rounded-lg text-sm focus:outline-none"
                                placeholder="Nitrogen" />

                        </div>


                    </div>
                </div>
                <div class="flex flex-col">
                    <div class="flex flex-row">
                        <div class="flex flex-col">
                            <label class="text-gray-700 text-base mb-4">humidity</label>
                            <input type="text"
                                class="border-2 border-gray-300 bg-white h-10 px-5 pr-16 rounded-lg text-sm focus:outline-none"
                                placeholder="Nitrogen" />

                        </div>


                    </div>
                </div>
                <div class="flex flex-col">
                    <div class="flex flex-row">
                        <div class="flex flex-col">
                            <label class="text-gray-700 text-base mb-4">Moisture</label>
                            <input type="text"
                                class="border-2 border-gray-300 bg-white h-10 px-5 pr-16 rounded-lg text-sm focus:outline-none"
                                placeholder="Nitrogen" />

                        </div>


                    </div>
                </div>


                <div class="flex flex-col">
                    <div class="flex flex-row">
                        <div class="flex flex-col">
                            <label class="text-gray-700 text-base mb-4">Soil Type</label>
                            <input type="text"
                                class="border-2 border-gray-300 bg-white h-10 px-5 pr-16 rounded-lg text-sm focus:outline-none"
                                placeholder="Nitrogen" />

                        </div>


                    </div>
                </div>

                <div class="flex flex-col">
                    <div class="flex flex-row">
                        <div class="flex flex-col">
                            <label class="text-gray-700 text-base mb-4">Crop Type</label>
                            <input type="text"
                                class="border-2 border-gray-300 bg-white h-10 px-5 pr-16 rounded-lg text-sm focus:outline-none"
                                placeholder="Nitrogen" />

                        </div>


                    </div>
                </div>

            </div>
            <div
                class="modal-footer flex flex-shrink-0 flex-wrap items-center justify-end p-4 border-t border-gray-200 rounded-b-md">
                <button type="button"
                    class="inline-block px-6 py-2.5 bg-purple-600 text-white font-medium text-xs leading-tight uppercase rounded shadow-md hover:bg-purple-700 hover:shadow-lg focus:bg-purple-700 focus:shadow-lg focus:outline-none focus:ring-0 active:bg-purple-800 active:shadow-lg transition duration-150 ease-in-out"
                    data-bs-dismiss="modal">
                    Close
                </button>
                <button type="button"
                    class="inline-block px-6 py-2.5 bg-blue-600 text-white font-medium text-xs leading-tight uppercase rounded shadow-md hover:bg-blue-700 hover:shadow-lg focus:bg-blue-700 focus:shadow-lg focus:outline-none focus:ring-0 active:bg-blue-800 active:shadow-lg transition duration-150 ease-in-out ml-1">
                    Save changes
                </button>
            </div>
        </div>
    </div>
</div>


<!-- Modal for Rain Fall prediction -->
<!-- "date","avg.temp","max.temp","min.temp","precipitation","avg.wind.speed","max.wind.speed","max.wind.speed.dir","max.inst.wind.speed","max.inst.wind.speed.dir","min.atmos.pressure" -->

<div class="modal fade fixed top-0 left-0 hidden w-full h-full outline-none overflow-x-hidden overflow-y-auto"
    id="exampleModalCenteredScrollableRainFall" tabindex="-1" aria-labelledby="exampleModalCenteredScrollable"
    aria-modal="true" role="dialog">
    <div class="modal-dialog modal-dialog-centered modal-dialog-scrollable relative w-auto pointer-events-none">
        <div
            class="modal-content border-none shadow-lg relative flex flex-col w-full pointer-events-auto bg-white bg-clip-padding rounded-md outline-none text-current">
            <div
                class="modal-header flex flex-shrink-0 items-center justify-between p-4 border-b border-gray-200 rounded-t-md">
                <h5 class="text-xl font-medium leading-normal text-gray-800" id="exampleModalCenteredScrollableLabel">
                    Rain Fall Prediction

                </h5>
                <button type="button"
                    class="btn-close box-content w-4 h-4 p-1 text-black border-none rounded-none opacity-50 focus:shadow-none focus:outline-none focus:opacity-100 hover:text-black hover:opacity-75 hover:no-underline"
                    data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body relative p-4">
                <!--input fields N,P,K,temperature,humidity,ph,rainfall,label-->

                <div class="flex flex-col">
                    <div class="flex flex-row">
                        <div class="flex flex-col">
                            <label class="text-gray-700 text-base mb-4">Average Temperature</label>
                            <input type="text"
                                class="border-2 border-gray-300 bg-white h-10 px-5 pr-16 rounded-lg text-sm focus:outline-none"
                                placeholder="Nitrogen" />

                        </div>


                    </div>
                </div>
                <div class="flex flex-col">
                    <div class="flex flex-row">
                        <div class="flex flex-col">
                            <label class="text-gray-700 text-base mb-4">Maximum Temperature</label>
                            <input type="text"
                                class="border-2 border-gray-300 bg-white h-10 px-5 pr-16 rounded-lg text-sm focus:outline-none"
                                placeholder="Nitrogen" />

                        </div>


                    </div>
                </div>
                <div class="flex flex-col">
                    <div class="flex flex-row">
                        <div class="flex flex-col">
                            <label class="text-gray-700 text-base mb-4">Minimum Temperature</label>
                            <input type="text"
                                class="border-2 border-gray-300 bg-white h-10 px-5 pr-16 rounded-lg text-sm focus:outline-none"
                                placeholder="Nitrogen" />

                        </div>


                    </div>
                </div>
                <div class="flex flex-col">
                    <div class="flex flex-row">
                        <div class="flex flex-col">
                            <label class="text-gray-700 text-base mb-4">precipitation</label>
                            <input type="text"
                                class="border-2 border-gray-300 bg-white h-10 px-5 pr-16 rounded-lg text-sm focus:outline-none"
                                placeholder="Nitrogen" />

                        </div>


                    </div>
                </div>
                <div class="flex flex-col">
                    <div class="flex flex-row">
                        <div class="flex flex-col">
                            <label class="text-gray-700 text-base mb-4">Average Wind Speed</label>
                            <input type="text"
                                class="border-2 border-gray-300 bg-white h-10 px-5 pr-16 rounded-lg text-sm focus:outline-none"
                                placeholder="Nitrogen" />

                        </div>


                    </div>
                </div>
                <div class="flex flex-col">
                    <div class="flex flex-row">
                        <div class="flex flex-col">
                            <label class="text-gray-700 text-base mb-4">Maximum Wind Speed</label>
                            <input type="text"
                                class="border-2 border-gray-300 bg-white h-10 px-5 pr-16 rounded-lg text-sm focus:outline-none"
                                placeholder="Nitrogen" />

                        </div>


                    </div>
                </div>

                <!-- max.inst.wind.speed","max.inst.wind.speed.dir","min.atmos.pressure" -->
                <div class="flex flex-col">
                    <div class="flex flex-row">
                        <div class="flex flex-col">
                            <label class="text-gray-700 text-base mb-4">Maximum Wind Speed Direction</label>
                            <input type="text"
                                class="border-2 border-gray-300 bg-white h-10 px-5 pr-16 rounded-lg text-sm focus:outline-none"
                                placeholder="Nitrogen" />

                        </div>


                    </div>
                </div>

                <div class="flex flex-col">
                    <div class="flex flex-row">
                        <div class="flex flex-col">
                            <label class="text-gray-700 text-base mb-4">Maximum instant Wind Speed</label>
                            <input type="text"
                                class="border-2 border-gray-300 bg-white h-10 px-5 pr-16 rounded-lg text-sm focus:outline-none"
                                placeholder="Nitrogen" />

                        </div>


                    </div>
                </div>
                <div class="flex flex-col">
                    <div class="flex flex-row">
                        <div class="flex flex-col">
                            <label class="text-gray-700 text-base mb-4">Maximum instant Wind Speed Direction</label>
                            <input type="text"
                                class="border-2 border-gray-300 bg-white h-10 px-5 pr-16 rounded-lg text-sm focus:outline-none"
                                placeholder="Nitrogen" />

                        </div>


                    </div>
                </div>
                <div class="flex flex-col">
                    <div class="flex flex-row">
                        <div class="flex flex-col">
                            <label class="text-gray-700 text-base mb-4">Minimum Atmospheric pressure</label>
                            <input type="text"
                                class="border-2 border-gray-300 bg-white h-10 px-5 pr-16 rounded-lg text-sm focus:outline-none"
                                placeholder="Nitrogen" />

                        </div>


                    </div>
                </div>

            </div>
            <div
                class="modal-footer flex flex-shrink-0 flex-wrap items-center justify-end p-4 border-t border-gray-200 rounded-b-md">
                <button type="button"
                    class="inline-block px-6 py-2.5 bg-purple-600 text-white font-medium text-xs leading-tight uppercase rounded shadow-md hover:bg-purple-700 hover:shadow-lg focus:bg-purple-700 focus:shadow-lg focus:outline-none focus:ring-0 active:bg-purple-800 active:shadow-lg transition duration-150 ease-in-out"
                    data-bs-dismiss="modal">
                    Close
                </button>
                <button type="button"
                    class="inline-block px-6 py-2.5 bg-blue-600 text-white font-medium text-xs leading-tight uppercase rounded shadow-md hover:bg-blue-700 hover:shadow-lg focus:bg-blue-700 focus:shadow-lg focus:outline-none focus:ring-0 active:bg-blue-800 active:shadow-lg transition duration-150 ease-in-out ml-1">
                    Save changes
                </button>
            </div>
        </div>
    </div>
</div>




{% include 'footer.html' %}
{% endblock %}